@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;600;700;800&family=Pacifico&family=Poppins:wght@100;300;400;600;700;900&family=Raleway:wght@500&family=Roboto:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.font-cn {
  font-family: "Pacifico", cursive;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-animation {
  transition: 500ms;
  animation: color-change 10s infinite;
}

.line {
  background: linear-gradient(to right, #A60666, orange);
  width: 5rem;
  height: 0.1rem;
  border-radius: 6px;
  margin: 25px auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    color: orange;
  }
  25% {
    color: #A60666;
  }
  50% {
    color: lightseagreen;
  }
  75% {
    color: #A60666;
  }
  100% {
    color: orange;
  }
}
@keyframes box-shape {
  0% {
    border-color: orange;
    transform: rotate(0deg);
  }
  25% {
    border-color: #A60666;
  }
  50% {
    border-color: lightseagreen;
  }
  75% {
    border-color: #A60666;
  }
  100% {
    border-color: orange;
    transform: rotate(360deg);
  }
}
@keyframes rotate-infinitie {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes logo-shape {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.m-1 {
  margin: spacerem !important;
}

.p-1 {
  padding: spacerem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.m-2 {
  margin: spacerem !important;
}

.p-2 {
  padding: spacerem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.m-3 {
  margin: spacerem !important;
}

.p-3 {
  padding: spacerem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.m-4 {
  margin: spacerem !important;
}

.p-4 {
  padding: spacerem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.m-5 {
  margin: spacerem !important;
}

.p-5 {
  padding: spacerem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.m-6 {
  margin: spacerem !important;
}

.p-6 {
  padding: spacerem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.m-7 {
  margin: spacerem !important;
}

.p-7 {
  padding: spacerem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.m-8 {
  margin: spacerem !important;
}

.p-8 {
  padding: spacerem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.m-9 {
  margin: spacerem !important;
}

.p-9 {
  padding: spacerem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

.m-10 {
  margin: spacerem !important;
}

.p-10 {
  padding: spacerem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

.pr-10 {
  padding-right: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.pl-10 {
  padding-left: 10rem !important;
}

.space-x-1 > * {
  margin-right: 1rem;
}

.space-y-1 > * {
  margin-bottom: 1rem;
}

.space-x-2 > * {
  margin-right: 2rem;
}

.space-y-2 > * {
  margin-bottom: 2rem;
}

.space-x-3 > * {
  margin-right: 3rem;
}

.space-y-3 > * {
  margin-bottom: 3rem;
}

.space-x-4 > * {
  margin-right: 4rem;
}

.space-y-4 > * {
  margin-bottom: 4rem;
}

.space-x-5 > * {
  margin-right: 5rem;
}

.space-y-5 > * {
  margin-bottom: 5rem;
}

.btn, .btn-primary-outline, .btn-primary {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}
.btn-primary {
  background-color: #A60666;
  color: white;
}
.btn-primary:hover {
  background-color: rgb(217, 53, 154);
  color: rgb(22, 5, 16);
  transition: 250ms;
}
.btn-primary-outline {
  background-color: white;
  border: 2px solid #A60666;
  color: #A60666;
}
.btn-primary-outline:hover {
  background-color: #A60666;
  color: white;
  transition: 250ms;
}

.badge {
  padding: 0px, 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
}
.badge-primary {
  background-color: #A60666;
  color: white;
  font-weight: 400;
}

.form-control {
  padding: 0.8rem 1.5rem;
  width: 100%;
  background-color: rgb(243, 242, 242);
  border: none;
  border-radius: 5px;
  outline: none;
}
.form-control:focus {
  border: 2px solid #A60666;
}

.resize-none {
  resize: none;
}

.header {
  padding: 1rem 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 1rem 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    padding: 1rem 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 1rem 11rem;
  }
}
@media only screen and (max-width: 576px) {
  .header h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .header h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .header h2 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 576px) {
  .header h2 > span {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header h2 > span {
    font-size: 1.4rem;
  }
}
.header .nav-menu-bar {
  display: none;
}
@media only screen and (max-width: 576px) {
  .header .nav-menu-bar {
    display: block;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 576px) {
  .header .nav-menu-bar {
    display: block;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .header .nav-menu-bar {
    display: none;
    font-size: 1.5rem;
  }
}
.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .header-menu {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .header-menu {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .header-menu {
    display: block;
    display: flex;
  }
}
.header-menu-item > a {
  margin-right: 1.5rem;
  font-size: 15px;
  font-weight: 600;
  color: rgb(22, 5, 16);
  transition: 250ms;
}
.header-menu-item > a:hover {
  color: #A60666;
}
.header-menu-item > a.active {
  color: #A60666;
}

@media only screen and (max-width: 576px) {
  .background-shapes {
    display: none;
  }
}
.background-shapes .box1 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 0.35rem;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .box1 {
    top: 33%;
    left: 5%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .box1 {
    top: 15%;
    left: 5%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .box1 {
    top: 18%;
    left: 5%;
  }
}
.background-shapes .box2 {
  position: absolute;
  top: 77%;
  left: 57%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 0.35rem;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .box2 {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .box2 {
    display: block;
    top: 58%;
    left: 30%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .box2 {
    top: 78%;
    left: 30%;
  }
}
.background-shapes .box3 {
  position: absolute;
  top: 30%;
  left: 90%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 0.35rem;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .box3 {
    top: 40%;
    right: 15%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .box3 {
    top: 25%;
    right: 12%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .box3 {
    top: 50%;
    right: 15%;
  }
}
.background-shapes .dot1 {
  position: absolute;
  top: 77%;
  left: 6%;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .dot1 {
    top: 95%;
    left: 6%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .dot1 {
    top: 52%;
    left: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot1 {
    top: 60%;
    left: 5%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot1 {
    top: 85%;
    left: 7%;
  }
}
.background-shapes .dot2 {
  position: absolute;
  top: 18%;
  right: 4%;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .dot2 {
    top: 25%;
    left: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .dot2 {
    top: 15%;
    left: 95%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot2 {
    top: 25%;
    left: 95%;
  }
}
.background-shapes .dot3 {
  position: absolute;
  top: 90%;
  left: 40%;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .dot3 {
    top: 53%;
    left: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .dot3 {
    top: 42%;
    left: 70%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot3 {
    top: 50%;
    left: 65%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot3 {
    top: 90%;
    left: 80%;
  }
}
.background-shapes .dot4 {
  position: absolute;
  top: 91%;
  right: 15%;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot4 {
    top: 32%;
    left: 40%;
  }
}
.background-shapes .heart1 {
  font-size: 1.5rem;
  position: absolute;
  top: 51%;
  left: 13%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
  color: red;
}
@media only screen and (min-width: 576px) {
  .background-shapes .heart1 {
    top: 58%;
    left: 6%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .heart1 {
    top: 45%;
    left: 6%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .heart1 {
    top: 55%;
    left: 10%;
  }
}
.background-shapes .heart2 {
  font-size: 1.5rem;
  position: absolute;
  top: 55%;
  right: 8%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
  color: red;
}
@media only screen and (min-width: 576px) {
  .background-shapes .heart2 {
    top: 65%;
    right: 8%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .heart2 {
    top: 50%;
    right: 8%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .heart2 {
    top: 45%;
    left: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .heart2 {
    top: 75%;
    left: 92%;
  }
}
.background-shapes .circle1 {
  position: absolute;
  top: 88%;
  left: 18%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .circle1 {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .circle1 {
    top: 60%;
    left: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .circle1 {
    display: block;
    top: 82%;
    left: 60%;
  }
}
.background-shapes .circle2 {
  position: absolute;
  top: 24%;
  left: 55%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 1200px) {
  .background-shapes .circle2 {
    display: block;
    top: 80%;
    left: 40%;
  }
}

.footer-area {
  padding: 2rem 0rem;
  text-align: center;
  background-color: #A60666;
  color: white;
}
@media only screen and (max-width: 576px) {
  .footer-area h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer-area h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer-area h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .footer-area h2 {
    font-size: 1.8rem;
  }
}
.footer-area img {
  width: 80px;
  transform: rotate(360deg);
  animation: logo-shape linear 5s infinite;
}
@media only screen and (max-width: 576px) {
  .footer-area img {
    width: 50px;
  }
}
@media only screen and (min-width: 576px) {
  .footer-area img {
    width: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-area img {
    width: 65px;
  }
}
@media only screen and (min-width: 992px) {
  .footer-area img {
    width: 80px;
  }
}
.footer-area p {
  color: lightgrey;
  font-family: "Pacifico", cursive;
}
@media only screen and (max-width: 576px) {
  .footer-area p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer-area p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer-area p {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 992px) {
  .footer-area p {
    font-size: 1.5rem;
  }
}
.footer-area a {
  transition: 500ms;
  color: lightgrey;
  font-family: "Pacifico", cursive;
}
.footer-area a:hover {
  text-shadow: 1px 1px 5px white;
}
.footer-area .social-icons > a > i {
  transition: 500ms;
  font-size: 1.5rem;
  padding: 0 10px;
  color: black;
}
.footer-area .social-icons > a > i:hover {
  color: white;
}
@media only screen and (max-width: 576px) {
  .footer-area .social-icons > a > i {
    font-size: 1rem;
    padding: 0 5px;
  }
}
@media only screen and (min-width: 576px) {
  .footer-area .social-icons > a > i {
    font-size: 1.1rem;
    padding: 0 7px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-area .social-icons > a > i {
    font-size: 1.2rem;
    padding: 0 8px;
  }
}
@media only screen and (min-width: 992px) {
  .footer-area .social-icons > a > i {
    font-size: 1.5rem;
  }
}
.footer-area .copyright-legal p {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 576px) {
  .footer-area .copyright-legal p {
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer-area .copyright-legal p {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer-area .copyright-legal p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 992px) {
  .footer-area .copyright-legal p {
    font-size: 0.8rem;
  }
}
.footer-area .reference p, .footer-area .reference p > cite > a {
  font-size: 0.8rem;
  color: rgb(22, 5, 16);
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 576px) {
  .footer-area .reference p, .footer-area .reference p > cite > a {
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .footer-area .reference p, .footer-area .reference p > cite > a {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer-area .reference p, .footer-area .reference p > cite > a {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 992px) {
  .footer-area .reference p, .footer-area .reference p > cite > a {
    font-size: 0.8rem;
  }
}

.hero-area {
  padding: 8rem 18rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .hero-area {
    padding: 3rem 2rem;
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area {
    padding: 4rem 6rem;
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area {
    padding: 6rem 8rem;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area {
    padding: 6rem 15rem;
  }
}
.hero-area img {
  width: 800px;
}
@media only screen and (max-width: 576px) {
  .hero-area img {
    width: 300px;
    padding-left: 0%;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area img {
    width: 350px;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area img {
    width: 800px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area img {
    width: 1000px;
  }
}
.hero-area-header {
  display: flex;
}
.hero-area--content {
  max-width: 35cm;
}
@media only screen and (min-width: 992px) {
  .hero-area--content {
    max-width: 25cm;
  }
}
.hero-area--title {
  font-size: 2rem;
  font-weight: 600;
}
@media only screen and (max-width: 576px) {
  .hero-area--title {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero-area--title {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero-area--title > span {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--title > span {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--title > span {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--title > span {
    font-size: 2rem;
    font-weight: 400;
  }
}
.hero-area--desc {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.4;
  color: grey;
  text-align: justify;
}
@media only screen and (max-width: 576px) {
  .hero-area--desc {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--desc {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--desc {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero-area button {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area button {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area button {
    font-size: 1.2rem;
  }
}

.about-area {
  padding: 4rem 14rem;
  background-color: #A60666;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
@media only screen and (max-width: 576px) {
  .about-area {
    padding: 4rem 2rem;
    flex-direction: column;
    margin-top: 0;
  }
}
@media only screen and (min-width: 576px) {
  .about-area {
    padding: 4rem 6rem;
    flex-direction: column;
    margin-top: 0%;
  }
}
@media only screen and (min-width: 992px) {
  .about-area {
    padding: 6rem 6rem;
    flex-direction: row;
    margin-top: 4%;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area {
    padding: 6rem 13rem;
  }
}
.about-area--img {
  width: 70rem;
}
@media only screen and (min-width: 992px) {
  .about-area--img {
    width: 90rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area--img {
    width: 110rem;
  }
}
.about-area--content {
  color: white;
}
.about-area--content h2 {
  font-size: 2rem;
}
@media only screen and (max-width: 576px) {
  .about-area--content h2 {
    font-size: 1rem;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--content h2 {
    font-size: 1.3rem;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--content h2 {
    font-size: 1.8rem;
    text-align: left;
  }
}
.about-area--content p {
  color: lightgray;
  font-size: 1.2rem;
  text-align: justify;
}
@media only screen and (max-width: 576px) {
  .about-area--content p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--content p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--content p {
    font-size: 1.3rem;
  }
}

.roadmap-area {
  padding: 8rem 14rem;
}
@media only screen and (max-width: 576px) {
  .roadmap-area {
    padding: 4rem 2rem;
    flex-direction: column;
    margin-top: 0%;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap-area {
    padding: 4rem 4rem;
    margin-top: 4%;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap-area {
    padding: 6rem 8rem;
    margin-top: 4%;
  }
}
@media only screen and (min-width: 1200px) {
  .roadmap-area {
    padding: 6rem 13rem;
    margin-top: 4%;
  }
}
.roadmap-area--header {
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .roadmap-area--header h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap-area--header h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap-area--header h2 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap-area--header h2 {
    font-size: 2rem;
  }
}
.roadmap-area--header p {
  padding-top: 0.9rem;
  font-size: 0.85em;
  color: grey;
}
@media only screen and (max-width: 576px) {
  .roadmap-area--header p {
    font-size: 0.65rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap-area--header p {
    font-size: 0.85rem;
  }
}
.roadmap-area--items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
@media only screen and (max-width: 576px) {
  .roadmap-area--items {
    flex-direction: column;
    margin-top: 0.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap-area--items {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap-area--items {
    margin-top: 2rem;
  }
}
.roadmap-area--item {
  transition: 500ms;
  position: relative;
  text-align: center;
  padding: 3rem 1rem;
  max-width: 300px;
  cursor: pointer;
  filter: grayscale(100%);
}
@media only screen and (max-width: 576px) {
  .roadmap-area--item {
    padding: 2rem 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap-area--item {
    padding: 3rem 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap-area--item {
    padding: 3rem 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap-area--item {
    padding: 3rem 1rem;
  }
}
.roadmap-area--item:hover .roadmap-area--item--img::after {
  filter: grayscale(0%);
  animation: rotate-infinitie 9000ms linear infinite;
}
.roadmap-area--item--img {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 3px;
}
.roadmap-area--item--img img {
  width: 75px;
  height: 75px;
  margin-top: 16.5px;
}
.roadmap-area--item--img::after {
  position: absolute;
  top: 0%;
  left: -5px;
  content: "";
  border: 5px dotted #A60666;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.roadmap-area--item--content {
  margin-top: 2rem;
}
.roadmap-area--item--content h5 {
  font-size: 1.2rem;
  font-weight: 600;
}
@media only screen and (max-width: 576px) {
  .roadmap-area--item--content h5 {
    font-weight: 400;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap-area--item--content h5 {
    font-weight: 400;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap-area--item--content h5 {
    font-weight: 600;
    font-size: 1.2rem;
  }
}
.roadmap-area--item--content p {
  color: grey;
  line-height: 1.5;
  font-size: 0.8rem;
}
@media only screen and (max-width: 576px) {
  .roadmap-area--item--content p {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap-area--item--content p {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap-area--item--content p {
    font-size: 0.8rem;
  }
}
.roadmap-area--item::before {
  transition: 500ms;
  position: absolute;
  margin-top: 35px;
  right: -16px;
  font-size: 2rem;
  font-weight: 600;
  content: ">";
  width: 70px;
  height: 70px;
  color: black;
}
@media only screen and (max-width: 576px) {
  .roadmap-area--item::before {
    transform: rotate(90deg);
    top: 170px;
    left: 70px;
  }
}
.roadmap-area--item:hover::before {
  color: #A60666;
  right: -30px;
}
@media only screen and (max-width: 576px) {
  .roadmap-area--item:hover::before {
    top: 180px;
  }
}
.roadmap-area--item:hover h5 {
  color: #A60666;
}
.roadmap-area--item:hover p {
  color: rgb(22, 5, 16);
}
.roadmap-area--item:hover {
  filter: grayscale(0%);
}

.projects-area {
  padding: 8rem 14rem;
  background-color: #A60666;
  margin-top: 3rem;
}
@media only screen and (max-width: 576px) {
  .projects-area {
    padding: 4rem 2rem;
    margin-top: 0%;
  }
}
@media only screen and (min-width: 576px) {
  .projects-area {
    padding: 4rem 3rem;
    margin-top: 0%;
  }
}
@media only screen and (min-width: 992px) {
  .projects-area {
    padding: 6rem 6rem;
    margin-top: 0%;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-area {
    padding: 6rem 13rem;
    margin-top: 4%;
  }
}
.projects-area--header {
  text-align: center;
}
.projects-area--header h3 {
  font-size: 2rem;
  color: white;
}
@media only screen and (max-width: 576px) {
  .projects-area--header h3 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .projects-area--header h3 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 768px) {
  .projects-area--header h3 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 992px) {
  .projects-area--header h3 {
    font-size: 2rem;
  }
}
.projects-area--header p {
  font-size: 1rem;
  color: rgb(185, 180, 180);
}
@media only screen and (max-width: 576px) {
  .projects-area--header p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 576px) {
  .projects-area--header p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) {
  .projects-area--header p {
    font-size: 1rem;
  }
}
.projects-area--cards {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .projects-area--cards {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .projects-area--cards {
    display: flex;
  }
}
.projects-area--card {
  transition: 500ms;
  border: 1px solid white;
  background-color: white;
  max-width: 270px;
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  .projects-area--card {
    max-width: 200px;
  }
}
@media only screen and (min-width: 576px) {
  .projects-area--card {
    max-width: 240px;
  }
}
@media only screen and (min-width: 768px) {
  .projects-area--card {
    max-width: 215px;
  }
}
@media only screen and (min-width: 992px) {
  .projects-area--card {
    max-width: 260px;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-area--card {
    max-width: 300px;
  }
}
.projects-area--card--img {
  width: 270px;
}
@media only screen and (max-width: 576px) {
  .projects-area--card--img {
    width: 200px;
  }
}
@media only screen and (min-width: 576px) {
  .projects-area--card--img {
    width: 240px;
  }
}
@media only screen and (min-width: 768px) {
  .projects-area--card--img {
    width: 215px;
  }
}
@media only screen and (min-width: 992px) {
  .projects-area--card--img {
    width: 260px;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-area--card--img {
    width: 300px;
  }
}
.projects-area--card--body {
  padding: 0.6rem;
  text-align: center;
}
.projects-area--card--body h4 {
  font-size: 1.2rem;
}
@media only screen and (max-width: 576px) {
  .projects-area--card--body h4 {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 576px) {
  .projects-area--card--body h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .projects-area--card--body h4 {
    font-size: 1.2rem;
  }
}
.projects-area--card--body p {
  color: gray;
  line-height: 1.5;
}
@media only screen and (max-width: 576px) {
  .projects-area--card--body p {
    line-height: 1.5;
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 576px) {
  .projects-area--card--body p {
    line-height: 1.5;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 992px) {
  .projects-area--card--body p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-area--card--body p {
    padding: 0rem 0.8rem;
  }
}
.projects-area--card a {
  color: rgba(0, 0, 0, 0.6941176471);
}
.projects-area--card:hover {
  box-shadow: 2px 2px 20px 5px rgba(245, 240, 240, 0.6);
}

.contact-area {
  padding: 8rem 14rem;
  background-color: lightgray;
}
@media only screen and (max-width: 576px) {
  .contact-area {
    padding: 4rem 2rem;
    margin-top: 0%;
  }
}
@media only screen and (min-width: 576px) {
  .contact-area {
    padding: 8rem 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact-area {
    padding: 6rem 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-area {
    padding: 6rem 4rem;
  }
}
.contact-area .contact-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  border: 1px solid #A60666;
  border-radius: 1rem;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  .contact-area .contact-card {
    display: block;
    align-items: initial;
  }
}
@media only screen and (min-width: 576px) {
  .contact-area .contact-card {
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-area .contact-card {
    padding: 2rem 6rem;
  }
}
.contact-area .contact-card--header {
  flex-grow: 1;
}
.contact-area .contact-card--header h4 {
  font-size: 1.2rem;
}
.contact-area .contact-card--header p {
  color: grey;
  font-size: 0.9rem;
}
@media only screen and (min-width: 576px) {
  .contact-area .contact-card--header p {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact-area .contact-card--header p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact-area img {
    width: 400px;
    padding-left: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact-area img {
    width: 700px;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */