@use "../abstract/variables" as var;
@use "../abstract/functions"as func;

.btn {
    padding: 0.8rem 1.6rem;
    border-radius: 6px;
    line-height: 1;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;

    &-primary {
        @extend .btn;
        background-color: func.theme-colors();
        color: white;

        &:hover {
            background-color: func.theme-colors("primary-hover");
            color: func.theme-colors("dark");
            transition: 250ms;
        }
    } 

    &-primary-outline {
        @extend .btn;
        background-color: white;
        border: 2px solid func.theme-colors();
        color: func.theme-colors();

        &:hover {
            background-color: func.theme-colors();
            color: white;
            transition: 250ms;
        }
    }
}