@use "../abstract/variables" as var;
@use "../abstract/functions" as func;

.about-area {
    padding: 8rem 14rem;
    background-color: func.theme-colors();
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    &--img {
        width: 25rem;
    }

    &--content {
        color: white;

        h2 {
            font-size: 2rem;
        }

        p {
            
            color: lightgray;
            font-size: 1.2rem;
            text-align: justify;
        }
    }
}