@use "../abstract/mixins" as mixins;

@use "../abstract/variables" as var;
@use "../abstract/functions" as func;

.about-area {
    padding: 4rem 14rem;
    background-color: func.theme-colors();
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    @include mixins.responsive(xs) {
        padding: 4rem 2rem;
        flex-direction: column;
        margin-top: 0;
    }

    @include mixins.responsive(sm) {
        padding: 4rem 6rem;
        flex-direction: column;
        margin-top: 0%;
    }

    &--img {
        width: 70rem;
    }

    &--content {
        color: white;

        h2 {
            font-size: 2rem;

            @include mixins.responsive(xs) {
                font-size: 1rem;
                text-align: center;
            }
            
            @include mixins.responsive(sm) {
                font-size: 1.3rem;
                text-align: center;
            }      
        }

        p {
            
            color: lightgray;
            font-size: 1.2rem;
            text-align: justify;

            @include mixins.responsive(xs) {
                font-size: 0.8rem
            }

            @include mixins.responsive(sm) {
                font-size: 1rem;
            }  
        }
    }
}