@use "../abstract/mixins" as mixins;

.hero-area {
    padding: 8rem 18rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mixins.responsive(xs) {
        padding: 3rem 2rem;
        flex-direction: column;
    }

    @include mixins.responsive(sm) {
        padding: 4rem 6rem;
        flex-direction: column;
    }

    @include mixins.responsive(lg) {
        padding: 6rem 8rem;
        flex-direction: row;
    }

    @include mixins.responsive(xlg) {
        padding: 6rem 15rem;
    }

    img {
        width: 800px;
        
        @include mixins.responsive(xs) {
            width: 300px;
            padding-left: 0%;
        }

        @include mixins.responsive(sm) {
            width: 350px;
        }

        @include mixins.responsive(lg) {
            width: 800px;
        }

        @include mixins.responsive(xlg) {
            width: 1000px;
        }
    }

    &-header {
        display: flex;
    }

    &--content{
        max-width: 35cm;

        @include mixins.responsive(lg) {
            max-width: 25cm;
        }
    }

    &--title {
        font-size: 2rem;
        font-weight: 600;

        @include mixins.responsive(xs) {
            font-size: 1.2rem;
        }

        @include mixins.responsive(sm) {
            font-size: 1.5rem;
        }

        @include mixins.responsive(md) {
            font-size: 1.7rem;
        }

        @include mixins.responsive(lg) {
            font-size: 2rem;
        }

        & > span {
            @include mixins.responsive(xs) {
                font-size: 1.2rem;
                font-weight: 400;
            }

            @include mixins.responsive(sm) {
                font-size: 1.6rem;
                font-weight: 400;
            }

            @include mixins.responsive(sm) {
                font-size: 1.6rem;
                font-weight: 400;
            }

            @include mixins.responsive(lg) {
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }

    &--desc {
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.4;
        color: grey;
        text-align: justify;

        @include mixins.responsive(xs) {
            font-size: 0.8rem;
        }

        @include mixins.responsive(sm) {
            font-size: 1rem;
        }

        @include mixins.responsive(lg) {
            font-size: 1.2rem;
        }
    }

    button {
        @include mixins.responsive(xs) {
            font-size: 0.7rem;
        }

        @include mixins.responsive(sm) {
            font-size: 0.7rem;
        }
        @include mixins.responsive(lg) {
            font-size: 1.2rem;
        }
    }
}