@use "../abstract/mixins" as mixins;

@use "../abstract/variables" as var;
@use "../abstract/functions" as func; 

.projects-area {
    padding: 8rem 14rem;
    background-color: func.theme-colors();
    margin-top: 3rem;

    @include mixins.responsive(xs) {
        padding: 4rem 2rem;
        margin-top: 0%;
    }

    @include mixins.responsive(sm) {
        padding: 4rem 3rem;
        margin-top: 0%;
    }

    @include mixins.responsive(lg) {
        padding: 6rem 6rem;
        margin-top: 0%;
    }

    @include mixins.responsive(xlg) {
        padding: 6rem 13rem;
        margin-top: 4%;
    }

    &--header {
        text-align: center;
        
        h3 {
            font-size: 2rem;
            color: white;

            @include mixins.responsive(xs) {
                font-size: 1rem;
            }

            @include mixins.responsive(sm) {
                font-size: 1.3rem;
            }

            @include mixins.responsive(md) {
                font-size: 1.6rem;
            }

            @include mixins.responsive(lg) {
                font-size: 2rem;
            }
        }

        p{
            font-size: 1rem;
            color: rgb(185, 180, 180);

            @include mixins.responsive(xs) {
                font-size: 0.7rem;
            }

            @include mixins.responsive(sm) {
                font-size: 0.9rem;
            }

            @include mixins.responsive(lg) {
                font-size: 1rem;
            }
        }
    }

    &--cards {
        display: flex;
        justify-content: space-between;

        @include mixins.responsive(xs) {
            flex-direction: column;
            align-items: center;
        }

        @include mixins.responsive(md) {
            display: flex;
        }
    }

    &--card {
        transition: 500ms;
        border: 1px solid white;
        background-color: white;
        max-width: 270px;
        border-radius: 10px;
        overflow: hidden;

        @include mixins.responsive(xs) {
            max-width: 200px;   
        }

        @include mixins.responsive(sm) {
            max-width: 240px;
        }

        @include mixins.responsive(md) {
            max-width: 215px;
        }

        @include mixins.responsive(lg) {
            max-width: 260px;
        }

        @include mixins.responsive(xlg) {
            max-width: 300px;
        }

        &--img {
            width: 270px;

            @include mixins.responsive(xs) {
                width: 200px;
            }

            @include mixins.responsive(sm) {
                width: 240px;
            }

            @include mixins.responsive(md) {
                width: 215px;
            }

            @include mixins.responsive(lg) {
                width: 260px;
            }

            @include mixins.responsive(xlg) {
                width: 300px;
            }
        }

        &--body {
            padding: 0.6rem;
            text-align: center;

            h4 {
                font-size: 1.2rem;

                @include mixins.responsive(xs) {
                   font-size: 0.8rem;
                }

                @include mixins.responsive(sm) {
                    font-size: 1rem;
                }

                @include mixins.responsive(lg) {
                    font-size: 1.2rem;
                }
            }

            p {
                color: gray;
                line-height: 1.5;

                @include mixins.responsive(xs) {
                    line-height: 1.5;
                    font-size: 0.6rem;
                }

                @include mixins.responsive(sm) {
                    line-height: 1.5;
                    font-size: 0.8rem;
                }

                @include mixins.responsive(lg) {
                    font-size: 1rem;
                }

                @include mixins.responsive(xlg) {
                    padding: 0rem 0.8rem;
                }
            }
        }

        a {
            color: #000000b1;
        }

        &:hover {
            box-shadow: 2px 2px 20px 5px rgba(245, 240, 240, 0.6);
        }
    }
}